*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 
nav{
  background-color: #a7434f;
  height: 100px;
  padding-top: 10px;
}
h1{
  margin-top: 10px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  line-height: 1em;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

h2{
  color: #333333;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.1em;
  font-weight: 600px;
  display: block;
  font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
  'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
.h1{
  color: #222222;
  align-items: center;

}
.p{
  
    margin: 0.8em 0;
    word-spacing: 2px;
    line-height: 20px;
    text-align: justtify;
    color: grey;
    font-size: 14px;
    font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
    'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
.span{
  color:#C33B4B ;
}
img{
  width: 380px;
}
.form {
  align-items: center;
  margin-left: 230px;
}

ol>li{
font-style: italic;
list-style: none;
}
input{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  
}

.input{
  line-height: 20px;
}
label{
  color: blue;
  padding-top: 6px;
  font-size: large;
}
#feedback{
  color: #CD3E4B;
}
#errYear,#errMonth,#errDay{
  color: red;
}
#year,#month,#day{
  margin: 10px;
}
.gend{
  width: 16px;
  line-height: 5px;
}
/* .gender{
  font-size: 27px;
  font-weight: 700;
  font-style: oblique;
} */
.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  
}
#submit{
  background-color: rgb(233, 230, 230);
  color: #CD3E4B;
  width: 80px;
  height: 30px;
}
#clearform{
  width: 80px;
  color: blue;
  height: 30px;
}
footer{
  background-color:#ABE1FC;
 padding: 20px;
 
}
.footer{
display: flex;
justify-content: space-between;
width:100%
}
.footer p{margin: 0.8em 0;
word-spacing: 2px;
line-height: 20px;
text-align: justtify;
color: rgb(39, 7, 7);
font-size: 13px;
font-family: 'open sans condensed', 'HelveticaNeue', 'Helvetica Neue', 
'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
.foot2{
  margin-top: 5px;
}
.foot{
  margin-top: 5px;
}

#copy{

  color: red;
}
.container{
  background-color: beige;
}
















@media screen and (max-width:480px){
  footer{
  flex-direction: column;
  }
}












